<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/base.css">
</head>
<body>
    <svg width="220px" height="200px" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <marker id="legend-cur-member" markerWidth="13" markerHeight="13" refx="2" refy="6" orient="auto">
                <path d="M2,2 L2,11 L10,6 L2,2" />
            </marker>
            <marker id="legend-past-member" markerWidth="13" markerHeight="13" refx="2" refy="6" orient="auto">
                <path d="M2,2 L2,11 L10,6 L2,2" />
            </marker>
            <marker id="legend-producer-for" markerWidth="13" markerHeight="13" refx="2" refy="6" orient="auto">
                <path d="M2,2 L2,11 L10,6 L2,2" />
            </marker>
            <marker id="legend-related" markerWidth="13" markerHeight="13" refx="2" refy="6" orient="auto">
                <path d="M2,2 L2,11 L10,6 L2,2" />
            </marker>
        </defs>
        <path d="M10,10 L25,10" class="legend-cur-member" marker-end="url(#legend-cur-member)"/>
        <text x="40" y="15" font-family="Helvetica" style="font: 14px sans-serif">
            Current Member
        </text>
        <path d="M10,40 L25,40" class="legend-past-member" marker-end="url(#legend-past-member)"/>
        <text x="40" y="45" font-family="Helvetica" style="font: 14px sans-serif">
            Past Member
        </text>
        <path d="M10,70 L25,70" class="legend-producer-for" marker-end="url(#legend-producer-for)"/>
        <text x="40" y="75" font-family="Helvetica" style="font: 14px sans-serif">
            Produced/Recorded
        </text>
        <path d="M10,100 L25,100" class="legend-related" marker-end="url(#legend-related)"/>
        <text x="40" y="105" font-family="Helvetica" style="font: 14px sans-serif">
            Related
        </text>
    </svg>
    <script type="text/javascript" src="/assets/vendor/d3/d3.js"></script>
    <script type="text/javascript" src="/assets/vendor/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="/assets/js/chart.js"></script>
</body>
</html>
