/*
E54E45  Red
13A3A5  Blue

Greyscale
F5F5F5
A7A7A7
595959
282828
0B0B0B
*/

body {
  background: #282828;
  font-family: "Helvetica",sans-serif;
}

svg {
  position: absolute;
}

.link {
  fill: none;
  stroke: #595959;
  stroke-width: 1.5px;
}

#current_member_of,
#legend-cur-member {
  fill: #13A3A5;
}

.legend-cur-member {
  fill: none;
  stroke-width: 1px;
  stroke: #13A3A5;
}

#legend-past-member,
#legend-related {
  fill: #595959;
}

.legend-past-member {
  fill: none;
  stroke-width: 1px;
  stroke: #595959;
}

.legend-related {
  stroke: #595959;
  stroke-dasharray: 0,2 1;
}

.link.current_member_of {
  stroke: #13A3A5;
}

#legend-producer-for,
.legend-producer-for{
  fill: #13A53C;
  stroke: #13A53C;
}

.link.producer_for{
  stroke: #13A53C;
}

.link.related_to {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #282828;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  fill: #F5F5F5;
  pointer-events: none;
  text-shadow: 0 1px 0 #0B0B0B, 1px 0 0 #0B0B0B, 0 -1px 0 #0B0B0B, -1px 0 0 #0B0B0B;
}

body {
}
